/* ----- Input Form Elements ---------- */
#langdelete__form fieldset {
  margin: 1em;
  width: 35em;
  margin-bottom: 2em;
  background-color: __background_alt__;
  color: __text__;
  padding: 0 1em;
}
#langdelete__form legend {
  font-size: 1.25em;
}

#langdelete__form label.formTitle {
  clear: both;
  display: block;
  width: 12em;
  float: left;
  margin-bottom: 10px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

#langdelete__form input.edit {
  float: left;
}
#langdelete__form div.box {
  float: left;
}
#langdelete__form button {
  float: right;
}

/*** Text ***/

/* To be at least as secific as the dokuwiki stylesheet */
.dokuwiki .page section.langdelete__text ul,
.dokuwiki .page section.langdelete__text ul li
{
	/* Reset text color */
    color: rgb(51, 51, 51);
}

section.langdelete__text #langshortlist {
	padding: 0 0 0 0.6ch;
}

section.langdelete__text ul.languages {
	display: inline;
	margin: 0 0.3ch;
}

section.langdelete__text ul.languages li {
    display: inline;
    margin: 0 0.2ch;
	border-radius: 0.5ex; 
	padding: 0 0.2ch;
}

section.langdelete__text li.active span.module {
	color: navy;
	font-weight: bold;
}

section.langdelete__text ul.languages li.active {
	background: #e0f5ff;
	font-weight: bold;
}

section.langdelete__text.to-delete ul.languages li del {
    color: #800;
}

/*** Animation ***/
.ani-ld-text-added {
    animation: 0.1s linear ld-text-added;
}

@keyframes ld-text-added {
    from {}
    50% { transform: translateY(-0.5ex); }
    to {}
}
