/* ----- Input Elements ---------- */
div .langdelete__divinput {
  width:                    170px;
  text-align :               left !important; 
}

 .langdelete__fieldset {
  width:                   155px !important;
  text-align:               left !important; 
	border-radius:           0.5em;
}

div .langdelete__divright {
  text-align:              right;
}